/* Editor */

.wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 36px;
	border: 1px solid var(--color-black-6-translucent);
	border-radius: var(--border-radius-6);
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 0);
	background-position: 7px 7px;
	background-size: 12px 12px;
	transition: opacity 0.2s;
	user-select: none;
}

.wrapper:hover .path.connector,
.wrapper:hover .thumb {
	opacity: 1;
}

/* Thumb */

.thumb {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid var(--color-white);
	background: var(--color-black);
	border-radius: 100%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s;
}

.thumb.dragged {
	background: var(--figma-color-bg-brand);
}

.thumb.zeroed {
	border: 1px solid var(--color-black);
	background: var(--color-white);
}

/* Views */

.viewbox {
	overflow: visible;
}

.path {
	fill: none;
	stroke: var(--figma-color-bg-brand);
	stroke-linecap: round;
	stroke-width: 2px;
}

.path.connector {
	opacity: 0;
	stroke: var(--color-black);
	transition: opacity 0.2s;
}

.dashed {
	stroke-dasharray: 4;
}

.diagonal {
	stroke: var(--color-silver);
}

.point {
	fill: var(--color-white);
	stroke: var(--color-black);
	stroke-width: 0.01;
}
