.presetInput {
	position: absolute;
	z-index: 20;
	top: 0;
	right: 4px;
	min-width: 168px;
	padding: 16px;
	background-color: var(--color-hud);
}

.presetInput.isHidden {
	pointer-events: none;
	visibility: hidden;
}

.presetInput input {
	color: var(--color-white) !important;
	font-size: var(--font-size-12);
}

.presetInput input::placeholder {
	text-transform: capitalize;
}

.presetInput .header {
	color: var(--color-white-40-translucent);
	font-size: var(--font-size-12);
}
