/* Editor */

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 32px;
	border: 1px var(--color-black) solid;
	border-radius: var(--border-radius-6);
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-silver);
	box-shadow: inset 0px 0px 0px 1px var(--color-silver);
	user-select: none;
}

/* Thumb */

.thumb {
	position: absolute;
	width: 16px;
	height: 16px;
	background: var(--color-black);
	border: 2px solid var(--color-white);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	cursor: grab;
}

.thumbDragged {
	background: var(--color-blue);
	cursor: grabbing;
}

.thumbZero {
	background: var(--color-white);
	border: 1px solid var(--color-black);
}

/* Views */

.viewbox {
	overflow: visible;
}

.path {
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke: var(--color-black);
}

.dashed {
	stroke-dasharray: 4;
}

.diagonal {
	stroke: var(--color-silver);
}

.terminalPoint {
	fill: var(--color-white);
	stroke: var(--color-black);
	stroke-width: 0.005;
}
