// add 'figma-plugin-ds-vue' custom icons
.fig-icon {
  &--ease-in-out {
    background-image: url('icons/ease-in-out.svg');
  }
  &--ease-in {
    background-image: url('icons/ease-in.svg');
  }
  &--ease-out {
    background-image: url('icons/ease-out.svg');
  }
  &--ease {
    background-image: url('icons/ease.svg');
  }
  &--custom-ease {
    background-image: url('icons/custom-ease.svg');
  }
  &--steps {
    background-image: url('icons/steps.svg');
  }
  &--steps-skip-start {
    background-image: url('icons/steps-skip-start.svg');
  }
  &--steps-skip-end {
    background-image: url('icons/steps-skip-end.svg');
  }
  &--steps-skip-both {
    background-image: url('icons/steps-skip-both.svg');
  }
  &--hint--white {
    background-image: url('icons/hint--white.svg');
  }
  &--hint--black {
    background-image: url('icons/hint--black.svg');
  }
}
